
<div class="breadcrumbs">
    <div class="breadcrumbs__wrap">
        <div class="breadcrumbs__wrap__item">
            <a class="breadcrumbs__wrap__item__link breadcrumbs__wrap__item__link--collections" href="/collections/all">Our Products</a>
        </div>
        <div class="breadcrumbs__wrap__item">
            {% render 'svg-chevron' %}
        </div>
        <div class="breadcrumbs__wrap__item">
            <a class="breadcrumbs__wrap__item__link breadcrumbs__wrap__item__link--current" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
        </div>
    </div>
</div>