<div class="login">

    <div class="login__image">
    </div>

    <div class="login__form">
        <div class="login__form__wrap">
            <div class="login__form__wrap__logo">
            </div>

            <div class="login__form__wrap__copy">
                <div class="login__form__wrap__copy__login [ js-login-form ]">
                    <h4>Challenge</h4>
                    {{ content_for_layout }}
                </div>
            </div>
        </div>
    </div>
</div>