.accordion-text {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 4rem 0 6rem;

    &__background {
        position: absolute;
        display: block;

        &--left {
            left: 0;
            bottom: 0;
            transform: translateX(-10%) translateY(5%);
            width: 40%;
            height: auto;
            min-width: 50rem;
        }

        &--right {
            left: 100%;
            bottom: 10%;
            transform: translateX(-40%) translateY(10%);
            width: 40%;
            height: auto;
            min-width: 40rem;

            @include media(768px, max) {
                bottom: 60%;
            }
        }
    }

    &__wrap {
        padding: 4rem 0;
        margin: 0 auto;
        max-width: var(--inner-content-width);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
        z-index: 2;

        &__content {
            width: 50%;
            padding-right: 2rem;
            padding-top: 2rem;

            h2 {
                font-weight: 400;
            }
        }

        &__grid {
            width: 50%;
            padding-left: 2rem;

            .accordion__item__heading {
                padding-right:4rem;

                &:before,
                &:after {
                    background: var(--green-light);
                }

                h6 {
                    margin: 0;
                }
            }
        }
    }
}
