.accordion {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    margin: 0 auto;
    max-width: var(--inner-content-width);

    &__heading {
        width: 100%;

        h2 {
            display: block;
            text-align: center;
        }
    }

    &__item {
        width: 100%;
        border-bottom: 1px solid var(--grey-light);

        &__heading {
            padding: 2rem 0;
            cursor: pointer;
            position: relative;

            h4 {
                margin: 0;
            }

            &:before,
            &:after {
                @include pseudo;
                width: 2.6rem;
                height: 0.2rem;
                background: var(--highlight);
                right: 1rem;
                top: 50%;
            }

            &:after {
                transform: rotate(90deg);
                transition: all $fast;
            }
        }

        &__content {
            transition: height 0.35s ease-in-out;
            overflow: hidden;
        }

        &:not(.active) .accordion__item__content {
            display: none;
        }

        &.active {
            .accordion__item__heading:after {
                transform: rotate(0deg);
            }
        }
    }
}
