.accordion {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    margin: 0 auto;
    max-width: var(--inner-content-width);

    &__heading {
        width: 100%;

        h2 {
            display: block;
            text-align: center;
        }
    }

    &__item {
        width: 100%;
        border-bottom: 1px solid var(--grey-light);

        &__heading {
            padding: 2rem 5rem 2rem 0;
            cursor: pointer;
            position: relative;

            h6 {
                margin: 0;
            }

            &:before,
            &:after {
                @include pseudo;
                width: 2.6rem;
                height: 0.2rem;
                background: var(--primary);
                right: 1rem;
                top: 50%;
            }

            &:after {
                transform: rotate(90deg);
                transition: all $fast;
            }
        }

        &__content {
            transition: height 0.35s ease-in-out;
            overflow: hidden;

            @include media(768px) {
                padding-right: 15rem;
            }

            $link: rgba(#ec1d24, 0.99);

            a:not([class]) {
                text-decoration: none;
                box-shadow: inset 0 -1px 0 $link;
                transition: all $fast;
                color: $link;

                &:hover {
                    box-shadow: inset 0 -30px 0 $link, 0 1px 0 $link;
                    color: white;
                }
            }
        }

        &:not(.active) .accordion__item__content {
            display: none;
        }

        &.active {
            .accordion__item__heading:after {
                transform: rotate(0deg);
            }
        }
    }
}
