/*------------------------------------------------------------------
Background Image
------------------------------------------------------------------*/

.background-image {
    width: 100%;
    position: relative;
    background: var(--off-white);
    overflow: hidden;

    &__background {
        @include full;
        @include cover;
        z-index: 1;
        bottom: auto;
        height: 140%;
        top: 0%;
    }

    &__wrap {
        max-width: var(--content-width);
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;
        z-index: 2;
        position: relative;

        &__content {
            padding: 20rem 0;
            max-width: 60rem;
            color: white;

            @include media($md, max) {
                padding: 10rem 0 8rem;
            }

        }
    }
}
