/*------------------------------------------------------------------
Hero Block
------------------------------------------------------------------*/

.cta {
    width: 100%;
    position: relative;
    background: var(--primary);

    &__wrap {
        max-width: var(--content-width);
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;
        z-index: 2;
        position: relative;

        &__content {
            padding: 12rem 0 10rem;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            @include media($xmd, max) {
                margin: 0 auto;
                width: 100%;
                text-align: center;

                h3 {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }

            p {
                margin-left: 4rem;
                position: relative;
                top: -1rem;

                @include media($xmd, max) {
                    top: 0;
                    margin: 0 auto;
                }
            }
        }
    }
}
