/*------------------------------------------------------------------
Newsletter popup
------------------------------------------------------------------*/

form {
  margin-bottom: 2rem;
}

input,
textarea,
select {
  border: 0;
  border-bottom: 1px solid var(--off-white);
  padding: 1rem;
  border-radius: 0;
  -webkit-appearance: none;
  outline: 0;
  margin-bottom: 2rem;
  width: 100%;
  resize: none;
  background: white;
  @extend .p;

  @include placeholder {
    opacity: 0.5;
  }
}

.hidden-label {
  display: none;
}



/*------------------------------------------------------------------
Checkbox
------------------------------------------------------------------*/

input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
  position: absolute;

  + label {
    position: relative;
    padding-left: 3rem;
    user-select: none;
    cursor: pointer;

    &:before {
      @include pseudo;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 333ms ease;
      background: white;
      border: 1px solid var(--grey-light);
      width: 20px;
      height: 20px;
      border-radius: 0.4rem;
    }

    &:after {
      @include pseudo;
      transform: rotate(43deg);
      width: 5px;
      height: 9px;
      border: 2px solid white;
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 50%;
      transition: all 333ms ease;
      margin-top: -1px;
      transform: translateY(-50%) rotate(20deg);
    }
  }

  &:checked {
    + label {
      &:before {
        background: var(--green-light);
        border-color: var(--green-light);
      }

      &:after {
        transform: translateY(-50%) rotate(43deg);
      }
    }
  }
}
