/*------------------------------------------------------------------
Header
------------------------------------------------------------------*/
.template--index {
    @include media(1100px) {
        .header:not(.sticky) {
            background: transparent;

            .header__wrap__logo path {
                &:nth-child(3) {
                    fill: white;
                    stroke: white;
                }
                &:nth-child(4) {
                    fill: white;
                    stroke: white;
                }
                &:nth-child(5) {
                    fill: white;
                }
                &:nth-child(6) {
                    fill: white;
                }
            }
        }
    }
}

body:not(.template--index) .header {
    background: white !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;

    .header__wrap__nav__item__link {
        @include media(1100px) {
            color: var(--text) !important;
        }
    }

    &.sticky .header__wrap__nav__item__link {
        @include media(1100px, max) {
            color: var(--text);
        }
    }

    .header__wrap__logo {
        path {
            &:nth-child(4) {
                fill: var(--grey-mid);
            }
            &:nth-child(11) {
                fill: var(--grey-mid);
            }
        }
    }
}

.header {
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
    position: fixed;
    z-index: 9999999;
    top: 0;
    transition: all $medium;

    &.sticky {
        background: white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

        .header__wrap__nav__item {
            &__link {
                color: var(--text);
            }
        }
    }

    @include media(1100px) {
        background: transparent;
        box-shadow: none;
    }

    &__wrap {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &__logo {
            @include svg(308, 81);
            width: 22rem;
            margin: 1rem 1rem 2rem 2rem;
            z-index: 3;
        }

        /*------------------------------------------------------------------
        Secondary Navigation
        ------------------------------------------------------------------*/

        &__secondary {
            height: 4rem;
            width: 100%;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex-wrap: wrap;
            z-index: 9;
            justify-content: space-between;

            @include media(1100px) {
                background-color: var(--primary);
            }

            &__menu {
                padding-left: 1rem;

                &__item {
                    font-weight: 500;
                    color: var(--text);
                    text-transform: uppercase;
                    padding: 1.2rem 1rem 1.1rem 1rem;
                    display: inline-block;
                    font-size: 1.4rem;

                    @include media(1100px) {
                        color: white;
                    }

                    @include media($md, max) {
                        font-size: 1rem;
                    }
                }
            }

            &__call {
                margin-right: 0;
                margin-left: auto;
                width: 4rem;
                height: 4rem;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;

                @include media(1100px) {
                    width: auto;
                }

                p {
                    font-weight: light;
                    display: none;
                    color: white;
                    margin: 0 0 0 1rem;

                    @include media(1100px) {
                        display: block;
                        padding-right: 2rem;
                        line-height: 4rem;
                    }
                }

                svg {
                    @include media(1100px, max) {
                        @include vertical-center;
                    }

                    @include media(1100px) {
                        path {
                            fill: white;
                        }
                    }
                }
            }

            &__login {
                font-weight: bold;
                background: var(--primary);
                color: white;
                padding: 0 1rem;
                line-height: 3.8rem;

                @include media(1100px) {
                    display: none;
                }
            }
        }

        /*------------------------------------------------------------------
        Navigation
        ------------------------------------------------------------------*/

        &__nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 1rem;
            display: flex;
            flex-wrap: wrap;
            display: none;
            margin-left: -5rem;
            width: 100%;
            justify-content: center;
            padding-right: 11rem;

            @include media(1100px) {
                display: flex;
            }

            @include media(1100px) {
                margin-left: 0;
            }

            &__item {
                position: relative;
                perspective: 800px;

                &:hover .header__wrap__nav__item__menu {
                    opacity: 1 !important;
                    visibility: visible !important;
                    transform: rotateX(0deg) !important;
                }

                &__link {
                    position: relative;
                    font-weight: 500;
                    padding: 2rem 1.5rem;
                    color: var(--grey-dark);
                    display: block;
                    text-transform: uppercase;
                }

                &__menu {
                    position: absolute;
                    background: white;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    width: 20rem;
                    left: 50%;
                    margin-left: -10rem;
                    transform-origin: 50% 0;
                    transition: all $medium;
                    transform: translateY(0.5rem);
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.12);
                    &::after {
                        @include pseudo;
                        width: 2rem;
                        height: 2rem;
                        background: white;
                        border-radius: 0.2rem;
                        transform: rotate(45deg);
                        top: -0.3rem;
                        left: 50%;
                        margin-left: -1rem;
                    }

                    &__item {
                        text-transform: uppercase;

                        a {
                            color: var(--text);
                            font-size: 1.2rem;
                            font-weight: 600;
                            transition: all $fast;
                            padding: 1rem;
                            display: block;

                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        }

        /*------------------------------------------------------------------
      Account
      ------------------------------------------------------------------*/

        &__account {
            position: absolute;
            right: 5rem;
            bottom: 1rem;
            display: none;

            @include media(1100px) {
                display: flex;
                align-items: center;
            }

            &__item {
                font-weight: bold;
                position: relative;
                color: var(--primary);

                &--search {
                    margin-right: 2rem;

                    path {
                        fill: green;
                    }
                }

                &--link {
                    margin-right: 2rem;
                    position: relative;

                    &:after {
                        @include pseudo;
                        width: 100%;
                        bottom: -3px;
                        height: 1px;
                        background: var(--primary);
                    }
                }
            }
        }

        /*------------------------------------------------------------------
      Navburger
      ------------------------------------------------------------------*/

        &__navburger {
            width: 4rem;
            height: 4rem;
            position: absolute;
            right: 1rem;
            bottom: 1.9rem;
            cursor: pointer;
            overflow: hidden;

            @include media(1100px) {
                display: none;
            }

            &__ring {
                width: 4rem;
                height: 3px;
                background: var(--primary);
                display: block;
                position: absolute;
                transition: all $fast;
                will-change: transform;

                &--1 {
                    top: 0.8rem;
                    z-index: 3;
                }

                &--2 {
                    top: 1.8rem;
                }

                &--3 {
                    top: 2.8rem;
                    z-index: 3;
                }
            }
        }
    }
}

.mobile-menu-active {
    .header__wrap__navburger__ring--1 {
        transform: rotate(45deg) translateX(0.7rem) translateY(0.7rem);
    }

    .header__wrap__navburger__ring--2 {
        transform: scaleX(0);
        transform-origin: 50% 50%;
    }

    .header__wrap__navburger__ring--3 {
        transform: rotate(-45deg) translateX(0.7rem) translateY(-0.7rem);
    }
}

/*------------------------------------------------------------------
Search
------------------------------------------------------------------*/

.header__wrap__search {
    position: absolute;
    top: 7.6rem;
    right: 1rem;
    border: 0;
    background: transparent;
    cursor: pointer;

    svg {
        fill: var(--primary);
        
        &:nth-child(2) {
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 0.2rem;

            path {
                fill: var(--primary);
            }
        }
    }
}
