.image-with-text {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 12rem;
    background: var(--off-white);

    &.image-to-the-left {
        .image-with-text__text {
            order: 2;
        }

        .image-with-text__image {
            order: 1;
        }
    }

    &.image-to-the-right {
        .image-with-text__text {
            order: 1;
            justify-content: flex-end;
        }

        .image-with-text__image {
            justify-content: flex-start;
            order: 2;
            padding-right: 0rem;
            padding-left: 10rem;
        }
    }

    &__text {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 12rem 8rem;
        justify-content: flex-start;

        @include media($xmd, max) {
            width: 100%;
            order: 2 !important;
            padding: 10rem 4rem 6rem;
        }

        &__constraint {
            max-width: calc(var(--content-width) / 3);
        }
    }

    &__image {
        width: 50%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 10rem;

        @include media($xmd, max) {
            width: 100%;
            padding-right: 0rem !important;
            padding-left: 0rem !important;
            order: 1 !important;
        }

        img {
            align-self: flex-start;
            width: 100%;
            height: auto;
            display: block;
            max-width: 60rem;
            margin-bottom: -6rem;
        }
    }
}
