/*------------------------------------------------------------------
Mobile menu
------------------------------------------------------------------*/

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 999999;
    padding: 14rem 2rem 10rem;
    overflow: auto;
    transition: all $fast;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-10rem);

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        position: relative;
        align-items: center;
        align-content: center;

        &__item {
            width: 100%;
            font-size: 3rem;
            font-weight: bold;
            display: block;

            a {
                padding: 1rem;
                color: var(--primary);
                display: block;
            }

            &__menu {
                &__item {
                    a {
                        font-size: 2rem;
                        color: var(--grey-mid-light);
                    }
                }
            }
        }
    }
}

.mobile-menu-active {
    overflow: hidden;

    .header {
        background: var(--primary);
        box-shadow: none !important;
        transform: translateY(0%) !important;
    }

    .mobileMenu {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateY(0rem);
    }

    .header__wrap__navburger__ring--1 {
        transform: rotate(45deg) translateX(0.7rem) translateY(0.7rem);
    }

    .header__wrap__navburger__ring--2 {
        background: transparent !important;
    }

    .header__wrap__navburger__ring--3 {
        transform: rotate(-45deg) translateX(0.7rem) translateY(-0.7rem);
    }
}
