/*------------------------------------------------------------------
Newsletter popup
------------------------------------------------------------------*/

.popup {
  @include full;
  position: fixed;
  background: rgba(white, 0.7);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all $fast;
  transition-delay: 444ms;

  @include media(900px) {
    overflow: auto;
  }

  @include media(900px, max) {
    top: 100%;
    overflow: visible;
  }

  &__inner {
    width: calc(100% - 4rem);
    margin: 0 auto;
    max-width: 60rem;
    background: var(--off-white);
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    top: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    padding: 4rem 6rem 3rem;
    margin-bottom: 4rem;
    text-align: center;
    cursor: default;

    @include media(900px, max) {
      bottom: 1rem;
      top: auto;
      width: calc(100% - 2rem);
      border: 2px solid black;
      padding: 3rem 2rem;
      text-align: left;
      margin-bottom: 0;
    }

    &__content {
      &__close {
        position: absolute;
        top: 4rem;
        cursor: pointer;
        right: 4rem;
        -webkit-appearance: none;
        border: 0; 
        background: transparent;
        outline: none;
        padding: 0;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      &__image {
        margin-bottom: 2rem;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        @include media(900px, max) {
          display: none;
        }
      }

      &__link {
        text-align: center;

        @include media(900px, max) {
          display: none;
        }
      }
    }
  }
}

.popup-open {
  overflow-y: scroll;
  height: 100%;
  height: -webkit-fill-available;

  body {
    height: 100%;
    position: relative;
    overflow: hidden;
    transition-delay: 0ms;
  }

  .popup {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
}

.popup__inner {
  transition: $fast;
  opacity: 0;
  transform: translateY(3rem);
}

.animate-in {
  .popup__inner {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.animate-out {
  .popup__inner {
    opacity: 0;
    transform: translateY(-3rem);

    @include media(900px, max) {
      transform: translateY(3rem);
    }
  }
}
