/*------------------------------------------------------------------
Product
------------------------------------------------------------------*/

.product {
    position: relative;

    .warning {
        position: relative;
        padding: 1rem 2rem;
        background: var(--grey-mid);
        color: white;
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 600;
        padding-left: 5rem;

        span {
            width: 4rem;
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-right: 1px solid rgba(white, 0.3);

            svg {
                position: absolute;
                @include vertical-center;
                width: 2rem;
                height: 2rem;

                polygon {
                    fill: white;
                }
            }
        }
    }

    &__wrap {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: var(--content-width);
        padding: 0 2rem 6rem;
        position: relative;

        @include media($md, max) {
            text-align: center;
        }

        &__gallery {
            width: 50%;
            padding-right: 4rem;
            position: relative;
            z-index: 3;
            display: block;

            @include media($md, max) {
                width: 100%;
                max-width: 60rem;
                margin: 0 auto;
                padding-right: 0;
            }

            &__inner {
                display: block;
                position: relative;

                &__progresscircle {
                    @include svg(1, 1);
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 3rem;

                    circle {
                        stroke-width: 4px;
                        stroke: var(--grey-light);
                    }
                }

                &__featured {
                    position: relative;
                    display: block;
                    margin-top: 8rem;

                    &__sale {
                        background: var(--green-dark);
                        color: white;
                        padding: 1rem 2rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-weight: 600;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .js-product-imagery-slider > div {
                        position: relative;

                        &:after {
                            @include pseudo;
                            @include full;
                            background: rgba(black, 0.025);
                        }
                    }
                }
            }
        }

        &__details {
            padding-left: 4rem;
            width: 50%;
            position: relative;
            z-index: 3;

            @include media($md, max) {
                width: 100%;
                max-width: 60rem;
                margin: 0 auto;
                padding-right: 0;
            }

            &__description {
                line-height: 1.4;

                h3 {
                    font-size: 2.2rem;
                }
            }

            .breadcrumbs__wrap {
                margin-top: 6rem;
                margin-bottom: 1rem;
                padding-left: 0;
                padding-bottom: 0;

                &__item {
                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }

            h1 {
                margin-bottom: 1rem;
            }

            h3 {
                font-weight: 500;
            }

            p {
                line-height: 1.7;
            }

            form {
                display: flex;
                flex-wrap: wrap;

                button {
                    padding: 1.5rem 4rem;
                }
            }
        }
    }
}

/*------------------------------------------------------------------
Quantity
------------------------------------------------------------------*/

.quantity--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-right: 3rem;
    border: 1px solid #dddddd;
    border-radius: 100rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .quantity__subtract,
    .quantity__add {
        background: transparent;
        border: 0;
        user-select: none;
        cursor: pointer;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;

        path {
            fill: #dddddd;
        }

        &:hover path {
            fill: var(--primary);
        }
    }

    .quantity__subtract {
        margin-right: 0.5rem;
    }

    .quantity__quantity {
        width: 4rem;
        background: transparent;
        font-size: 2rem;
        color: var(--green-dark);
        text-align: center;
        font-weight: bold;
        padding: 0 0.5rem;
        margin: 0;
    }

    .quantity__add {
        margin-left: 0.5rem;
    }
}

.quantity--cart {
    margin: 0;

    .quantity__add,
    .quantity__subtract {
        padding: 0.5rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .quantity__quantity {
        width: 4rem;
        font-size: 2.4rem;
    }
}

.divide {
    width: 100%;
    height: 2px;
    display: block;
}

.choices {
    width: 100%;
    max-width: 35rem;
    .choices__inner {
        background: transparent;
    }
    .choices__item {
        position: relative;
        top: 3px;
    }
}
