.scroller {
    @include cover;
    position: relative;
    padding: 10rem 8rem 8rem;
    display: flex;
    flex-wrap: wrap;

    @include media($md, max) {
        padding: 6rem 4rem 6rem;
    }

    &__heading {
        width: 50%;
        max-width: var(--content-width);
        margin: 0 auto;
        padding: 2rem 4rem 0 2rem;

        &__inner {
            max-width: 39rem;

            p {
                color: white;
            }
        }
    }

    &__grid {
        margin: 0 auto;
        width: 50%;
        max-width: var(--content-width);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-left: 2rem;

        &__carousel {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            &__item {
                padding: 0 2rem 2rem;
                width: calc(50%);

                &__heading {
                    color: white;
                    max-width: 30rem;
                }

                &__content {
                    max-width: 30rem;
                    color: white;
                }

                &__link {
                    color: var(--yellow-mid);
                }
            }
        }
    }
}
