.scroller {
    @include cover;
    position: relative;
    padding: 10rem 8rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media($xmd, max) {
        padding: 6rem 0rem 6rem;
    }

    &__heading {
        width: 50%;
        padding: 2rem 4rem 0 2rem;
        max-width: calc(var(--inner-content-width) / 2);

        @include media($xmd, max) {
            width: 100%;
            padding: 2rem 4rem 0 2rem;
        }

        &__inner {
            // max-width: 39rem;

            @include media($xmd, max) {
                width: 100%;
            }

            p {
                color: white;
            }
        }
    }

    &__grid {
        width: 50%;
        max-width: calc(var(--inner-content-width) / 2);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;

        @include media($xmd, max) {
            width: 100%;
        }

        &__carousel {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            &__item {
                padding: 0 2rem 2rem;
                width: calc(50%);

                &__heading {
                    color: white;
                    max-width: 30rem;
                }

                &__content {
                    max-width: 30rem;
                    color: white;
                }

                &__link {
                    color: var(--yellow-mid);
                }
            }
        }
    }
}
