.searchForm {
  position: fixed;
  top: 0;
  right: 13rem;
  left: 0;
  height: 13rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all $medium;
  transition-delay: 0ms;
  max-width: 70rem;
  margin: 0 auto;



  &__wrapper {
    width: 100%;
    height: 100%;

    &__form {
      width: 100%;
      height: 100%;

      &__input {
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 3rem;
        border: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Montserrat', sans-serif;

        @include media($md, max) {
          font-size: 2rem;
        }
      }
    }
  }
}

.searchPane {
  position: fixed;
  height: 12.7rem;
  transition: all $slow;
  left: 0;
  right: 0;
  transform: translateY(-2rem);
  opacity: 0;
  top: 0; 
  visibility: hidden;
  z-index: -1;
  background: white;

  @include media($md, max) {
    top: 6rem;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $md;
    margin-top: 12rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.12);
    background: white;
    padding: 4rem;

    @include media($md, max) {
      padding: 1rem 2rem;
      margin-top: 6.5rem;
    }

    &__title {
      position: relative;
      width: 100%;

      @include media($md, max) {
        display: none;
      }

      &:after {
        @include pseudo;
        width: 100%;
        height: 1px;
        top: 54%;
        background: black;
        opacity: 0.2;
      }

      span {
        font-size: 1.1rem;
        position: relative;
        padding-right: 1rem;
        background: white;
        z-index: 1;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 4rem);
      margin: 0 -2rem;

      @include media($md, max) {
        margin: 0 -0.5rem;
      }

      h4 {
        text-align: center;
        display: block;
        width: 100%;
      }
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      width: 25%;

      @include media($md, max) {
        padding: 0.5rem;
        width: 33.333333%;

        &:nth-child(4) {
          display: none;
        }
      }

      &__image {
        width: 100%;
        margin-bottom: 1rem;
        display: block;
        @include aspect(1, 1);

        &:before {
          @include pseudo;
          @include full;
          background: rgba(black, 0.025);
          z-index: 4;
        }

        span {
          @include aspect(1, 1);
          @include cover;
          display: block;
          width: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      &__details {
        width: 100%;

        p {
          font-size: 1.3rem;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 0.3rem;
          color: var(--text);

          &:first-of-type {
            margin-bottom: 0.5rem !important;
            color: var(--primary);
          }

          &:nth-child(2) {
            @include media($md, max) {
              display: none;
            }
          }

          &:nth-child(3) {
            @include media($md, max) {
              margin-bottom: 0.5rem;
            }
          }

          .strike {
            margin-left: 0.5rem;
            opacity: 0.5;
          }
        }
      }

      &--placeholder {
        .searchPane__wrapper__item__image {
          span {
            background: rgba(black, 0.1);
            animation-duration: 1.25s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: rgba(black, 0.1);
            background: linear-gradient(to right, #eaeaea 10%, #d5dadc 18%, #eaeaea 33%);
            background-size: 800px 104px;
            position: relative;
            position: absolute;
          }
        }

        .searchPane__wrapper__item__details {
          p {
            position: relative;
            width: 100%;

            &:after {
              @include pseudo;
              top: 2px;
              bottom: 2px;
              left: 0;
              right: 0;
              animation-duration: 1.25s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: placeHolderShimmer;
              animation-timing-function: linear;
              background: rgba(black, 0.1);
              background: linear-gradient(to right, #eaeaea 10%, #d5dadc 18%, #eaeaea 33%);
              background-size: 800px 104px;
            }

            &:last-of-type {
              width: 80%;
            }
          }
        }
      }
    }

    .button {
      width: 100%;
      text-align: center;
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

/*------------------------------------------------------------------
Active styles
------------------------------------------------------------------*/

.search-active {
  .searchPane.active {
    visibility: visible;
    z-index: 99;
    opacity: 1;
    transform: translateY(0);
  }

  .header {
    background: white !important;
  }

  .header__wrap__nav,
  .header__wrap__account,
  .header__wrap__logo {
    opacity: 0;
    visibility: hidden;
  }

  .searchForm {
    opacity: 1;
    visibility: visible;
    z-index: 99999999;
    padding-top: 4rem;
  }

  .header__wrap__search {
    border-color: transparent;

    p {
      opacity: 0;
    }

    svg {
      opacity: 0;
      transform: scale(0.7);

      path {
        fill: black;
      }

      &:last-of-type {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

/*------------------------------------------------------------------
Results
------------------------------------------------------------------*/

.collectionList {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    width: 100%;
    max-width: var(--content-width);

    &__item {
      width: calc(25% - 4rem);
      margin: 0 2rem 2rem;

      &__image {
        @include aspect(1, 1);
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
        }

        &:before {
          @include full;
          @include pseudo;
          background: rgba(black, 0.025);
          z-index: 4;
        }
      }

      p a {
        color: var(--primary);
      }
    }
  }
}
