.sliderAlt {
    position: relative;
    padding: 10rem 8rem 8rem;

    $link: rgba(#144444, 0.99);

    a:not([class]) {
        text-decoration: none;
        box-shadow: inset 0 -1px 0 $link;
        transition: all $fast;
        color: $link;

        &:hover {
            box-shadow: inset 0 -30px 0 $link, 0 1px 0 $link;
            color: white;
        }
    }

    &__wrap {
        &__heading {
            width: 100%;
            max-width: var(--content-width);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__slider {
            margin: 6rem auto;
            width: 100%;
            max-width: var(--content-width);
            position: relative;


            .tns-controls {
                button {
                    border: 0;
                    width: 4rem;
                    height: 4rem;
                    background-color: transparent;
                    background-size: cover;
                    font-size: 0;
                    position: absolute;
                    top: 50%;
                    cursor: pointer;
                    z-index: 44;
                }
            }

            &__carousel {
                width: 100%;

                &__item {
                    padding: 2rem;

                    &__image {
                        @include aspect(1, 1);
                        width: 100%;
                        display: block;
                        overflow: hidden;

                        img {
                            object-fit: cover;
                            position: absolute;
                            width: 100%;
                            height: auto;
                            @include vertical-center;
                        }
                    }

                    &__details {
                        &__title {
                        }
                    }
                }
            }
        }
    }
}
