.text {
    &__wrap {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: var(--inner-content-width);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
        z-index: 2;

        &__copy {
            width: 55%;
            padding: 5rem 0 4rem;
            padding-right: 4rem;

            @include media($xmd, max) {
                padding-right: 0;
                width: 100%;
            }
        }

        &__form {
            width: 40%;
            position: relative;
            top: -10rem;
            background: white;
            padding: 4rem 4rem;
            box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.09);

            @include media($xmd) {
                margin-bottom: -10rem;
            }

            @include media($xmd, max) {
                top: 0;
                width: 100%;
            }
        }

        h2 {
            width: 100%;
        }

        &__flex {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            $link: rgba(#ec1d24, 0.99);

            a:not([class]) {
                text-decoration: none;
                box-shadow: inset 0 -1px 0 $link;
                transition: all $fast;
                color: $link;

                &:hover {
                    box-shadow: inset 0 -30px 0 $link, 0 1px 0 $link;
                    color: white;
                }
            }

            &__left {
                width: 50%;
                padding-right: 2rem;

                @include media($md, max) {
                    width: 100%;
                    padding-left: 0;
                }
            }

            &__right {
                width: 50%;
                padding-left: 2rem;
                position: relative;

                @include media($md, max) {
                    width: 100%;
                    padding-left: 0;

                    &::before {
                        display: none !important;
                    }
                }

                &:before {
                    @include pseudo;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 1px;
                    background: #ebebeb;
                }
            }
        }
    }
}
