
  {% comment %}
   Contact Embed
  {% endcomment %}
  
  <div class="text text--{{ section.id }}">
    <div class="text__wrap">
      <div contactform-embed="{{ section.settings.form_id }}"></div>
    </div>
  </div>
    



{% schema %}
{
  "name": "Contact Embed", 
  "settings": [
    {
      "type": "text",
      "id": "form_id",
      "default": "192040",
      "label": "Form ID"
    }
  ],
  "presets": [
    {
      "name": "Contact Embed"
    }
  ]
}   
{% endschema %}
  