<!-- -----------------------------------------------------------------
Header
------------------------------------------------------------------ -->
<header class="header">

    <div class="header__wrap">

        <!-- -----------------------------------------------------------------
        Secondary 
        ------------------------------------------------------------------ -->
        <div class="header__wrap__secondary">

            <div class="header__wrap__secondary__notice">
                <p>
                    <b>FREE PRESCRIPTION DELIVERED*</b>
                    &nbsp;&nbsp;&nbsp;
                    <b><a href="https://pilldrop.co.nz/order-prescription" class="header__wrap__secondary__notice__link" style="color:white;">ORDER PRESCRIPTION NOW</a></b>
                </p>
            </div>

            <a href="tel: 0800 745 537" class="header__wrap__secondary__call [ js-ripple-red ]">
                $SVG('call') 
                <p><b>CALL US</b> 0800 PILLDROP</p>
            </a>

            <a href="{$SiteConfig.LoginLink.LinkURL}" class="header__wrap__secondary__login [ js-ripple ]">
                LOG IN
            </a>

        </div>

        <!-- -----------------------------------------------------------------
        Logo
        ------------------------------------------------------------------ -->
        <a href="/" class="header__wrap__logo">
            $SVG('logo')
        </a>

        <!-- -----------------------------------------------------------------
        Navigation
        ------------------------------------------------------------------ -->
        <nav class="header__wrap__nav">
            {% for link in linklists.main-menu.links %}
                <a href="{{ link.url }}" class="header__wrap__nav__item {% if link.current %}current{% endif %}">{{ link.title | escape }}</a>
            {%- endfor -%}
        </nav>
        
        <!-- -----------------------------------------------------------------
        Account
        ------------------------------------------------------------------ -->
        <nav class="header__wrap__account">
            <a href="#" class="header__wrap__account__item header__wrap__account__item--link">LOG IN</a>
            <a href="#" class="header__wrap__account__item button button--outline header__wrap__account__item--button [ js-sign-up ]">MY ACCOUNT</a>
        </nav>      

        <!-- -----------------------------------------------------------------
        Navburger 
        ------------------------------------------------------------------ -->
        <div class="header__wrap__navburger [ js-toggle-nav ]">
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--1"></span>
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--2"></span>
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--3"></span>
        </div>

    </div>
</header>

<!-- -------------------------------------------- 
Mobile Menu
-------------------------------------------- -->


<div class="mobileMenu" id="mobilemenu">

    {% for link in linklists.main-menu.links %}

        <div class="mobileMenu__group">
            
            <div class="mobileMenu__group__top {$LinkingMode} [ js-no-children ] {% if link.current %}current{% endif %}"><a href="{{ link.url }}" class="colour--white" style="">{{ link.title | escape }} </a></div>
            
        </div>
    {%- endfor -%}

</div>