<div class="banner__push-alt"></div>
    <h3>404 Page not found</h3>
    <a href="{{ routes.all_products_collection_url }}" class="button">
        Continue shopping
    </a>
    <div class="banner__push"></div>